@import url("https://fonts.googleapis.com/css2?family=Modak&display=swap");

:root {
  --blue: #00a0ff;
  --lightblue: #00a0ff20;
  --red: #d32f2f;
  --green: #558b2f;
  --disabled: #c0c0c0;
}

body {
  user-select: none;
}
